#taskList {
	min-width: 100%;
	padding: 1rem;
	border: 1px solid #097d57;
	border-radius: 1rem;
	box-shadow:
		0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#taskList > header {
	display: flex;
	gap: 0.5rem;
	color: #369d79;
	justify-content: space-between;
}

#taskList > header div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#taskList > header #conditionTask {
	display: flex;
	flex-direction: row;
}

#taskList > header input[type="date"] {
	height: 2rem;
	border-radius: 8px;
	border: 1px solid #097d57;
	outline: 1px solid #097d57;
	padding-inline: 1rem;
	background-color: #105642;
	color: #fff;
}

#taskList > header input[type="date"]::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

#taskItem {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
	box-sizing: border-box;
}

#taskItem .btnEdit,
#taskItem .btnRemove {
	background-color: transparent;
	display: flex;
	border: none;
	border-radius: 8px;
	padding: 0.5rem;
}

#taskItem .btnEdit svg,
#taskItem .btnRemove svg {
	color: #4c9cf4;
	width: 1.5rem;
	height: 1.5rem;
}

#taskItem .btnEdit:hover {
	background-color: #213d5a;
}

#taskItem .btnRemove svg {
	color: #fb6365;
}

#taskItem .btnRemove:hover {
	background-color: #6b2d2e;
}

.card {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	align-items: center;
	gap: 1rem;
	background-color: #0f4535;
	padding: 1rem;
	border-radius: 1rem;
	border: 1px solid #097d57;
}

.completed div > strong {
	text-decoration: line-through;
}

.card input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
}

.card .cardBody {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.card div > strong {
	color: #fff;
}

.card div > .dateHour {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	gap: 0.5rem;
	color: #369d79;
}

.card div > span {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.card div > span svg {
	width: 1rem;
	height: 1rem;
}

.card img {
	width: 1.5rem;
	height: 1.5rem;
}

.card .actions {
	display: flex;
	gap: 1rem;
}

.completed {
	background-color: #690808;
	border: 1px solid #fa0000;
}

.completed .cardBody .dateHour {
	color: #c94f51;
}

@media (max-width: 720px) {
	#taskList {
		max-width: 200px;
	}
	#taskList > header {
		flex-direction: column;
	}
	.card {
		display: grid;
		grid-template-areas:
			"check description"
			"button button";
		grid-template-columns: auto 1fr;
	}
	.card > input[type="checkbox"] {
		grid-area: check;
	}
	.card .cardBody {
		grid-area: description;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.card .actions {
		grid-area: button;
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	.card .actions button {
		align-items: center;
		justify-content: center;
		flex: 1;
	}

	.card .actions .btnEdit {
		background-color: rgba(1, 169, 247, 0.19) !important;
	}

	.card .actions .btnRemove {
		background-color: rgba(247, 1, 1, 0.19) !important;
	}

	.cardEdit {
		max-width: 100%;
	}

	#editTask {
		width: 100%;
	}
}
